<div class ="bckground">
<!-- <h2>Sign up</h2> -->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
<div class="form">

  <div class="signup">
     <%= f.label :first_name %><br />
     <%= f.text_field :first_name %>
  </div>

  <div class="signup">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  
  <div class="signup">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="signup">
    <%= f.label :password %>
    <% if @minimum_password_length %> <br />
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="signup">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <%= f.submit "Sign Up", :class => "button" %>

</div>
<% end %>

</div>

<%#= render "physicians/shared/links" %>
