<div class="welcome">
	<h1> Welcome, <%= @user.first_name %>!</h1>
</div>

<div class ="buttons">
	<% if @user.daily_rhythms.count == 0 %>
		<%= link_to "Create Rhythm", new_user_daily_rhythm_path(@user) %>
	<% elsif current_physician %>
		<%= link_to 'Patient History', user_daily_rhythms_path(@user) %> |
		<%= link_to 'Physicians Profile Page', physician_path(current_physician.id) %>
	<% else %>	
		<%= link_to 'Enter Today\'s Data', new_user_daily_rhythm_path(@user) %> 
		<%= link_to 'Your History', user_daily_rhythms_path(@user) %>
		<%= link_to 'Export Rhythm to iCal',  download_ical_user_path(@user, format: :ics) %>
		<%= link_to 'Physicians', physicians_path %>
	<% end %>
</div>

<div id="current" class="chart"></div>
<div id="average" class="chart"></div>


<% if false %>
<div class="analytics">
	<h3>CURRENT CYCLE: </h3>
	<p>Today's Date: <%= Date.today %></p>
	<p>Day of Cycle: <%= @user.day_of_cycle %></p>

	<p>Period Start date: <%= @user.first_day_of_period.date %></p>
	<p>Period End date: <%= @user.last_day_of_period.date %> </p>

	<p>Fertility Window Start date: <%= @user.first_day_of_period.date + @user.fertile_window_start %> </p>
	<p>Fertlity Window End date: <%= @user.first_day_of_period.date + @user.fertile_window_end %> </p>


	<h3>UPCOMING CYCLE: </h3> 
	<p>Period Start date: <%= @user.first_day_of_period.date + @user.avg_cycle_length %> </p>
	<p>Period End date: <%= @user.last_day_of_period.date + @user.avg_cycle_length %> </p>
	<p>Fertility Window Start date: <%= @user.first_day_of_period.date + @user.fertile_window_start %> </p>
	<p>Fertlity Window End date: <%= @user.first_day_of_period.date + @user.fertile_window_end %> </p>


	<h3>AVERAGE: </h3>
	<p>Average Period Length: <%= @user.avg_period %>  </p>
	<p>Average Fertile Window Length: <%= @user.fertile_window_end - @user.fertile_window_start %></p>
	<p>Average Cycle Length: <%= @user.avg_cycle_length %></p>
</div>
<% end %>

