<div id = "physicians">
	<% @physicians.each do |physician| %>
	  <%= physician.first_name %> <%= physician.last_name %> |

		<%= link_to "Add physician", friendships_path(friendship: {:physician_id => physician.id, :user_id => current_user.id}), method: :post %>
	<% end %>
</div>



<% if false %>
FIGURE THIS OUT: 

 <%= form_for Friendship.new do |f| %>
      <%= f.hidden_field :physician, physician %>
      <%= f.submit "Add physician" %>
    <% end %>

<% end %>