<% if false %>
<% if current_physician %>
		<div class ="nav">
			 <%= link_to 'Physicians Profile Page', physician_path(current_physician.id) %></li>
		</div>
<% end %>
<% end %>


<table class="bordered_table">
	<tbody>
	<tr>

	<%= month_calendar events: @daily_rhythms do |date, daily_rhythms| %>
		
	  <p class="date"> <%= date.day %> </p>

		<% daily_rhythms.each do |daily_rhythm| %>

		  	<div class="daily_info"> 
		  		BBT: <%= number_with_precision(daily_rhythm.bbt, :precision => 2) %>°C
		  	</div>
		  	<div class="daily_info"> 
		  		CF: <%= daily_rhythm.cervical_fluid %> 
		  	</div>

		  	<% if daily_rhythm.period == true %>
		  		<div class="actual_period">
					Period
				</div>	
			<% end %>

			<% if @user.daily_rhythm.last.cycle_num >= 2 %>
				<% @user.period_starts.each do |fp| %>
					<% if(date >= fp + @user.fertile_window_start)&&(date <= fp + @user.fertile_window_end) %>
						<div class="fertile_period">
							Fertile Window
						</div>
					<% end %>
				<% end %>


				<% @user.period_starts.each do |ap| %>
					<% if (date >= ap)&&(date <= ap + @user.avg_period.days) %>
						<div class="average_period">
							Average Period
						</div>
					<% end %>
				<% end %> 
			<% end %>

		<% end %>	
	<% end %>
	</tr>
	</tbody>
</table>

